<p style="color: green", align=center><%= flash[:notice] %></p>
<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
		<p>Thank you! Your VISA&reg; Card Request has been received and you will be contacted shortly.</p>
    <div id="forms">
    <table class="border">
		<tr>
			<td>
				<h4>Line of Credit Agreement</h4>
                    <ol>
                    	<li>The purpose of this Application and Agreement (hereinafter "Agreement") is to establish the Terms and Conditions of a line of credit. </li>
                        <li>Approval of this Agreement by you establishes the following: (a) the credit limit approved shall be determined by you and this credit limit will be drawn upon as I utilize an issued Card; (b) the account will be repaid in accordance with terms and conditions of VISA&reg; and in accordance with policies established by the Credit Union's Board of Directors (hereinafter "Directors"); (c) the Card remains your property and I will surrender it immediately upon request. The Terms and Conditions referred to herein are those that will be furnished to me before I have use of my Card. Said Terms and Conditions are made a part of this Agreement and are incorporated by reference herein. By my acceptance of the Card I hereby agree to comply with all the terms both in this Agreement and in the Terms and Conditions. In the event I do not wish to comply with the foregoing Terms and Conditions for any reason, I understand that I may terminate this Agreement by giving you written notice, and by returning the Card to you. </li>
                        <li>I understand that you reserve the right to change the rate of FINANCE CHARGE upon giving written notice required by law. </li>
                        <li>I promise to pay any and all charges incurred by me or any person whom I authorize to use the Card issued to me, and any fees or charges incurred in the recovery of a Card, retrieval of transaction data, collection of this account, or any other charges disclosed to me herein or in the Terms and Conditions provided prior to my use of the Card. I understand that you reserve the right to change the rate of fees and charges upon giving notice required by law. </li>
                        <li>I acknowledge and agree that you may terminate this Agreement upon adverse re-evaluation of my credit worthiness, upon my failure to satisfy the terms of this Agreement and the Terms and Conditions established by the Directors and VISA™ U.S.A., Inc., or at my option or at your option if you have good cause. </li>
                        <li>
                        	
                       	<table class="border loc">
                          	<tr class="redbold">
                               	<td>DESCRIPTION</td>
                                   <td>VISA&reg; CLASSIC</td>
                            </tr>
                            <tr class="bold">
                              	<td>ANNUAL PERCENTAGE RATE for Purchases and Cash Advances*</td>
                                <td class="large">8.9%</td>
                            </tr>
                            <tr>
                               	<td>Grace Period For Repayment Of The Balance For Purchase</td>
                                <td>25 Days From Statement Closing Date</td>
                            </tr>
                            <tr>
                               	<td>Method Of Computing The Balances For Purchase</td>
                                <td>Average Daily Balance <br />(Including New Purchase)</td>
                            </tr>
                            <tr>
                               	<td>Annual Fees</td>
                                <td>None</td>
                            </tr>
                            <tr>
                               	<td>Transaction Fee For Purchase</td>
                                <td>None</td>
                            </tr>
                            <tr>
                               	<td>Minimum Finance Charge</td>
                                <td>None</td>
                            </tr>
                            <tr>
                               	<td>Late Payment Fee</td>
                                <td>$20.00</td>
                            </tr>  
                            <tr>
                               	<td>Fee For Exceeding Credit Limit</td>
                                <td>None</td>
                            </tr>
                            <tr>
                               	<td>Return Check or Electronic Payment</td>
                                <td>$23.00</td>
                            </tr>
                            <tr>
                               	<td colspan="2" class="disclaimer">
                                  *The Annual Percentage Rate applicable to my account is determined by my personal credit history and will be disclosed to me on documents provided to me upon approval of my application. The daily periodic rate for my account will be determined by dividing the corresponding Annual Percentage Rate by 365 and rounding to the nearest 1/1000,000th of 1%, not to exceed applicable law. The information about the costs of the card described in the disclosure is accurate as of 02/02/2004. This information may have changed after that date. To find out what may have changed call us at (812) 945-4600. 
                                 </td>
                            </tr>                              
                          </table>
                        </li>
                        <li>If I pay my balance in full within 25 days of the closing date of my statement, I pay no FINANCE CHARGE. The 25-day grace period does not apply to cash advances. </li>
                    </ol>
                    
                    <p class="redbold">Important Information About Procedures For Or Opening A New Account</p>
<p>To help the government fight the funding of terrorism and money laundering activities, Federal law requires all financial institutions to obtain, verify and record information that identifies each person who opens an account. What this means for me: When I apply for or open an account. I will be asked for my name, address, date of birth and other documentation that will allow you to identify me.  </p>
				</td>
			</tr>
		</table>
    </div>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>  