<div id="pagewrapper" class="clearfix">

	<div id="inner_left">
    <h2>Vehicles for Sale</h2>
    <p>There are currently no vehicles for sale.  Please check back soon.</p>
    </div>
    
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
