<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Community Room</h2>
   <p>Our Main Office in Clarksville boasts a wonderful Community Room which is available for rent to anyone in the community. Members receive a discounted rate for rental. This room is conducive to multiple types of events. Whether you are hosting a catered wedding rehearsal dinner, baby or wedding shower, birthday party, or business meeting, this great room can accommodate. Tables and chairs are provided along with the use of the full kitchen. The projector, large projection screen, and microphone system are perfect for conducting business meetings and presentations. Men’s and Women’s restrooms are also available for your use. If you are interested in renting this room for your next event or learning more about rental rates, give us a call here at the Main Office at (812) 945-4600.</p>
  <p class="center"><%= image_tag "commroom.jpg", :alt=>"" %></p>
  </div>    
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>