<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Cruise Into Savings</h2>
    <%= image_tag "cruiseintosavings.jpg", :class=>"fleft", :alt=>"" %>
   <p>One Vision Federal Credit Union would like to introduce Cruise Into Savings. Simply add this feature when you obtain a car loan and watch your savings grow while you pay your auto loan. Just imagine what you can do with the savings you will have when your car is paid off. You can use it for a down payment on your next car or even take a well deserved vacation.</p>
   
   <p>Here is how it works:</p>
   <p>When you opt in to Cruise Into Savings, you will receive a Share Certificate with the same rate and term as your auto loan. You can start your Share Certificate with up to $100 and add anywhere from $5 to 10% of your car payment each month.</p>

     <p><span class="bold">Loan Terms:</span> 5.99% APR for 48 Months</p>
<p><span class="bold">Auto Loan Payment:</span> $250.00</p>
   <p><span class="bold">Share Certificate Terms:</span> 5.99% APY for 48 Months</p>
   <p><span class="bold">Max Allowed Monthly Deposit</span>: $25.00 (10% of the car payment)</p>
   <p>If you begin this program with a $100.00 initial deposit to the Share Certificate and add the maximum allowed monthly deposit to your payment each month with the terms reflected above, your total savings at the end of your loan term will be <span class="bold">$1,474.04</span>.</p>
   <p>Ask for more details today!!!</p>
  </div>    
    <div id="inner_right">
		<%= render :partial => 'layouts/quickrates' %>
    </div>
</div>
