<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Credit Union Fee Schedule</h2>
	  <table class="cufees" cellpadding="0" cellspacing="0" border="1">
      <tr>
    	<th colspan="4">Fee Schedule</th>
        </tr>
        <tr>
        	<td>Membership Fee</td>
            <td>$1.00 ea.</td>
        </tr>
        <tr>
        	<td>Close Account Fee (within first 12 months of opening account)</td>
            <td>$10.00 ea.</td>

        </tr>
        <tr>
        	<td>Reopen Account Fee (within 6 months of closing)</td>
            <td>$10.00 ea.</td>

        </tr>
        <tr>
        	<td>Draft Monthly Service Fee</td>
            <td>FREE</td>

        </tr>
        <tr>
        	<td>&quot;phONE Vision&quot; Audio Response Service</td>
            <td>FREE</td>

        </tr>
		<tr>
        	<td>&quot;ePay with Vision - Classic&quot; On-Line Banking Service</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td>&quot;ePay with Vision - Plus&quot; On-Line Banking Service</td>
            <td>$5.00 mo.</td>
        </tr>
        <tr>
        	<td>Debit Card POS Transactions</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td>NSF Fee/Overdraft Pay Fee/NSF Stop Payment Fee (Draft, ACH, ePay with Vision, Money Order)</td>
            <td>$26.00 ea.</td>
        </tr>
        <tr>
        	<td>Stop Payment Fee (Draft, ACH, ePay with Vision, Money Order)</td>
            <td>$25.00 ea.</td>
        </tr>
        <tr>
        	<td>Overdraft Transfer from Shares</td>
            <td>$2.00 ea.</td>
        </tr>
        <tr>
        	<td>Share Draft Copy Fee</td>
            <td>$3.00 ea.</td>
        </tr>
        <tr>
        	<td>Draft Printing Fee</td>
            <td>Prices vary</td>
        </tr>
        <tr>
        	<td>Debit Card/PIN Replacement Fee</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        	<td>Standard Proof of Payment (Debit Card, ePay)</td>
            <td>$15.00</td>
        </tr>
        <tr>
        	<td>&quot;ePay&quot; Enrollment Fee</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td>&quot;ePay&quot; Monthly Maintenance Fee</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td>&quot;ePay&quot; Payments Returned due to Member Error</td>
            <td>$10.00 ea.</td>
        </tr>
        <tr>
        	<td>&quot;ePay&quot; Check Cancellation</td>
            <td>$10.00 ea.</td>
        </tr>
        <tr>
        	<td>&quot;ePay&quot; Written Correspondence to Payee</td>
            <td>$15.00 ea.</td>
        </tr>
        <tr>
        <th colspan="2" class="highlight">Money Market Fee</th>
        </tr>
        <tr>
        	<td>(For any MMA balance that drops below $2,500)</td>
            <td>$10.00 mo.</td>
        </tr>
        <tr>
        	<td>(For more than 3 checks to third party and/or more than 6 transactions in one calendar month)</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        	<td>Domestic Outgoing Wire Transfer Fee</td>
            <td>$20.00 ea.</td>
        </tr>
        <tr>
        	<td>International Outgoing Wire Transfer Fee</td>
            <td>$50.00 ea.</td>
        </tr>
        <tr>
        	<td>Incoming Wire Transfer</td>
            <td>FREE</td>
        </tr>
        <tr>
        <th colspan="2" class="highlight">Teller Check to Third Party Fee</th>
        </tr>
        <tr>
        	<td>Member</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        	<td>Non-Member</td>
            <td>$20.00 ea.</td>
        </tr>
        <tr>
        	<td>Money Order Fee</td>
            <td>$2.00 ea.*</td>
        </tr>
        <tr>
        	<td>Cashier's (Certified) Check Fee</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        <th colspan="2" class="highlight">VISA Gift Cards</th>
        </tr>
        <tr>
        	<td>Member</td>
            <td>$3.50 ea.</td>
        </tr>
        <tr>
        	<td>Non-Member</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        	<td>Mortgage Payoff Fax Fee</td>
            <td>$20.00 ea.</td>
        </tr>
        <tr>
        	<td>Records Copy Fee (statements, histories, etc.)</td>
            <td>$2.00 pg.</td>
        </tr>
        <tr>
        	<td>IRA Transfer/Close Account Fee</td>
            <td>$20.00 ea.</td>
        </tr>
        <tr>
        	<td>Account Research/Reconciliation Fee</td>
            <td>$20.00 hr</td>
        </tr>
        <tr>
        	<td>Garnishment/Levy Fee</td>
            <td>$30.00 ea.</td>
        </tr>
        <tr>
        	<td>Christmas Club Early Withdrawal Fee</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        	<td>Dormant/Inactive Account Fee</td>
            <td>$5.00 mo.</td>
        </tr>
        <tr>
        <th colspan="2" class="highlight">ATM Transaction Fee (per membership account)</th>
        </tr>
        <tr>
        	<td>First 6 in calendar month</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td>Excess of 6 in a calendar month</td>
            <td>$1.00 ea.</td>
        </tr>
        <tr>
        	<td>VISA Card/PIN Replacement Fee</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        	<td>USPS Return Mail Fee/Bad Address</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        <th colspan="2" class="highlight">Returned Check Fee</th>
        </tr>
        <tr>
        	<td>(For the Member’s Personal Checks drawn on another financial institution)</td>
            <td>$30.00 ea.</td>
        </tr>
        <tr>
        	<td>(For Non-Member Personal Checks drawn on another financial institution)</td>
            <td>$10.00 ea.</td>
        </tr>
        <tr>
        <th colspan="2" class="highlight">Payroll Check Cashing Fee</th>
        </tr>
        <tr>
        	<td class="indent">with active share draft account</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="indent">no share draft, share balance $100+</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="indent">no share draft, share balance less than $100</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        	<td class="indent">Check Cashing (non-member)</td>
            <td>$5.00 ea.</td>
        </tr>
        <tr>
        	<td colspan="2" class="beige"><p>All fees are subject to change by action of the Board of Directors. Contact the Credit Union for current information.</p>
            <p>* Fees shown are effective 02/01/2009</p>
            <p>*Free with active share draft account<br />
Stop payments on MasterMoney Debit Card are prohibited.
</p></td>

        </tr>                       
    </table>
  </div>
  <div id="inner_right">
	<%= render :partial => 'layouts/quickrates' %>
  </div>
</div>
