<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Credit Union News</h2>
    
    <p class="heading">Our Staff Making a Difference</p>
        <%= image_tag "news.jpg", :class=>"photo fright", :alt=>"" %>You may notice when you visit the credit union locations on Fridays that
            much of, if not all, of our staff members are wearing blue jeans.
            Each Friday, the staff can elect to wear blue jeans and donate $5.
            This money goes into a special account that we have earmarked for
            community charities and non-profit organizations. Over the course
            of the last year, our staff contributed over $1900 to this fund.
            With these generous contributions, we were able to donate to many
            great community causes. The following are the organizations that
            we were able to help this year: <strong><em>Childplace, Center for</em></strong> <strong><em>Women
            and Families, Blue</em></strong> <strong><em>River Services, Interfaith</em></strong> <strong><em>Community
            Council, and</em></strong> <strong><em>Relay for Life in Clark, Floyd,</em></strong> <strong><em>and
            Harrison Counties</em></strong>. A big thanks to our staff for helping
            us to make a big difference in the communities we serve.</p>
<p class="heading">&nbsp;</p>
   <p class="heading">Scholarship Winners</p>
   <p>Each year One Vision Federal Credit Union has the privilege to give out three scholarships of $1000 each to high school seniors who are members of the credit union. We see this as our way of giving back to the community that has given us so much, as well as invest in the future of this community. This year we had many very deserving applicants. We have three excellent young ladies that won our scholarships this year: Maria Cochran from Providence High School, Taylor Carta from Clarksville High School, and Jayme Driver from Clarksville High School. We would like to congratulate these young ladies on their accomplishments both inside and outside of the classroom. We would also like to wish them the best of luck in their future studies.</p>
   <p class="center"><%= image_tag "winners.jpg", :class=>"photo", :alt=>"" %></p>
       
   <p class="heading">In-School Branch Program</p>
   <p>We are proud of our In-School Branch program here at One Vision Federal Credit Union. There are currently 6 schools that are participating in this program including St. Anthony School, Sacred Heart School, Our Lady of Perpetual Help School, Holy Family School, Clarksville Middle School, and Providence High School. All branches have students of the school as employees. All students at the schools can become members of One Vision and use the school branch. At the elementary and middle school level, only deposits are allowed into the students’ accounts. At the high school level, we allow deposits, withdrawals, and the cashing of checks up to $50. This program gives the student workers hands on experience in the banking industry and teaches the students that participate the importance of saving. If you want to learn more about our In-School Branch program, give us a call today.</p>
    </div>
   
    <div id="inner_right">
		<%= render :partial => 'layouts/quickrates' %>
    </div>
</div>
