<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Credit Union vs. Bank</h2>
    <p>So what really is the difference between a credit union and a bank? This is a question many people have and do not know the answer to. The answer is not as widely known as we in the world of credit unions would like it to be. The short answer is that a credit union is owned by the account holders, or members, of the credit union while a bank is owned by shareholders who may or may not have an account with the bank.</p>
    <%= image_tag "question.jpg", :class=>"photo fright", :alt=>"" %>
    <p>However there are many more differences than just that one. A credit union is not for profit unlike a bank which has profit as its number one goal. Any revenue that a credit union makes over its operating expenses is returned to the member-owners in the form of lower loan rates, higher savings rates, and lower fees. On average, a credit union will have better rates on savings and loans while having lower and fewer fees than banks. Banks have to make a profit for their shareholders at the expense of their account holders. </p>
    <p>The Board of Directors at a credit union is made up of members just like you, who volunteer their time to ensure the credit union is being properly operated. This provides a check between the membership and the management of the credit union. Also, each employee is a member as well; therefore they have a sense of ownership in their work. A bank’s Board of Directors is made up of paid shareholders that set policy to maximize profits and returns for shareholders sometimes at the expense of their account holders.</p>
    <p>Another difference is in the personalized service. At a credit union, the member service representatives get to know you personally and credit unions take pride in that level of service. It is much easier to get lost in the shuffle at a large bank. Credit unions pride themselves on knowing their members' names. At One Vision Federal Credit Union, our members are treated as a part of our family.</p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
