<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Eligibility</h2>
       <%= image_tag "eligibility.jpg", :alt=>"", :class=>"fright photo2" %>
    <p class="last">You are eligible to join One Vision Federal Credit Union if you <span class="bold">live, work, worship, or attend school in Clark, Floyd, or Harrison Counties in Indiana</span>. Your family is also eligible to join. See below for family eligibility. To join, you will need to fill out an application, pay a one-time membership fee of $1.00, and open a Prime Share Account with a minimum balance of $5.00. You can either fill out the membership application here online (you still need to make your initial deposit at a location) or stop by any of our two convenient locations at your convenience to speak to one of our Member Service Representatives. Once you become a member, you can then take advantage of our full array of financial products and services. Feel free to browse our website and find out all that One Vision Federal Credit Union has to offer you.</p>

    <h4>Family Eligibility</h4>
    <p>If you are eligible to join One Vision Federal Credit Union, then your family is also eligible to take advantage of the benefits we offer! Eligible family members include:</p>
	<table width="50%" border="0" cellspacing="0" cellpadding="0" class="tablecenter">
  <tr>
    <td>Spouse</td>
    <td>Children</td>
  </tr>
  <tr>
    <td>Siblings</td>
    <td>Parents</td>
  </tr>
  <tr>
    <td>Grandparents</td>
    <td>Grandchildren</td>
  </tr>
  <tr>
    <td>Stepparents</td>
    <td>Stepchildren</td>
  </tr>
  <tr>
    <td>Stepsiblings</td>
    <td>Adoptive Relationships</td>
  </tr>
</table>

<p>All individuals permanently living in the primary member's household are also eligible for membership.</p>
<p>Once a member – you are always a member!</p>

<p class="bold underline">What you will need to become a member</p>
<ul>
<li>Valid and Current Driver's License</li>
<li>Proof of Address (if address on Driver's License is incorrect) such as a utility bill</li>
<li>$6.00 - $1 for membership fee and $5 to open your Prime Share account</li>
<li>Social Security Number</li>
</ul>

<p class="bold underline">What you will need when applying for a loan</p>
<ul>
<li>Must be a member</li>
<li>Two most recent paystubs</li>
<li>If loan is an auto loan, we will need a sales order for the vehicle, VIN number, and current auto insurance information</li>
<li>If loan is a first mortgage, we will need a copy of sales contract, last 2 years W-2's, last 30 days of paystubs, and last 3 months of checking
account statements</li>
<li>If loan is HELOC or 2nd Mortgage, we will need last 30 days of paystubs and proof of homeowners insurance</li>
</ul>
  </div>
    
    <div id="inner_right">
		<%= render :partial =>"layouts/quickrates" %>
    </div>
</div>
