<div id="pagewrapper" class="clearfix">

	<div id="inner_left">
    <h2>History</h2>
    <p>One Vision Federal Credit Union was founded with a single, powerful vision: to provide affordable financial resources and services to the common man. As the financial world evolves, our vision remains the same and continues to reinforce our commitment to our members. The Board of Directors, Management, and Staff all share in this &quot;one vision&quot; with our members.</p>
    <p>In January of 1954, Father Xavier Knopp, Pastor of St. Anthony of Padua Catholic Church, initiated the founding of St. Anthony's Poverello Federal Credit Union. Father Knopp was a long time believer in the credit union movement and wanted the parishioners of St. Anthony to have the benefit of controlling their own finances while offering cost efficient services to individuals of all economic levels. Father had the term Poverello, meaning &quot;little poor man,&quot; placed in the name to symbolize the need for the common man to have access to the financial world.</p>
    
    <p>The Credit Union set about its business of providing a safe place for members to build their savings while borrowing funds for their special needs. Dividend rates on those savings exceeded what could be received at other financial institutions. Interest rates on loans were lower than could be obtained out in the marketplace. Loans were also more readily available because it was the member's character that was the utmost criteria for the loan, not social status. These signature traits remain with One Vision Federal Credit Union even today.</p>
    
    <p>As a single parish credit union, St. Anthony's Poverello Federal Credit Union was serving the financial needs of only a small group of people. We decided that we wanted to have the ability to serve the financial needs of more people. In 2000, the Credit Union expanded its membership base to include the nineteen Southern Indiana Catholic parishes of the New Albany Deanery of the Archdiocese of Indianapolis. To make it available to even more people, the Credit Union expanded its membership base again in 2003 to include anyone who lives, works, worships, or attends school in Clark, Floyd, or Harrison Counties.</p>
    
    <p>After adding the community to the membership base, the decision was made to undergo a name change to reflect our community status. To preserve our past and embrace our bright future, the name One Vision Federal Credit Union was chosen. While expressing our commitment to our existing members, One Vision Federal Credit Union embraces the community and reminds us of the values that we were founded on. One Vision Federal Credit Union still provides the exceptional member service that our founding members received when this great credit union began in 1954.</p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
