<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Getting Married</h2>
   <p>&nbsp;</p>  
   <%= image_tag "banner_marriage.jpg", :alt=>"", :width=>683, :height=>192 %>
<p>So you and the love of your life have decided to begin forever together. Many financial questions can arise. How do you pay for the wedding? Who will be in charge of the finances? Will you have a joint account, separate accounts, or both? What is the best way to merge your income, bills, and savings? What do you need to do as a couple to ensure financial stability and security long term?</p>
<p><span class="bold">Paying for the Wedding</span> - The average cost of a wedding today is between $20,000 and $25,000. This special day can be very costly for you and your husband or wife to be. How will this wedding be paid for? There are many options for you as a couple. You can save together with a special wedding savings account or figure out your financing options.</p>
<p><span class="bold">Combining your Finances</span> - With two separate paychecks, two sets of bills, and two sets of savings, combining your finances can be difficult. Will you each keep your own separate account or will you have one joint account? Disagreements about finances cause the most marital problems so having these issues worked out before hand can give you a head start on a happy marriage. You can talk to us here at One Vision Federal Credit Union with any questions and concerns you may have and we can help you work them out.</p>
<p><span class="bold">Long Term Financial Stability and Security</span> - This point in your life is a good time to re-evaluate your long terms savings and investment goals. There are now two people to consider and that number could increase as you decide to start a family together. What will your goals be for saving? How much can you sacrifice now to be financially stable when it is time to retire? Your family plans such as the number of children you will have, will play a huge role in your long-term financial plan.</p>
<p class="last"><span class="bold">Emergency Fund</span> - Keeping a little extra money aside for those unforeseen emergencies is always a good rule of thumb. You can decide together how much you can afford to set aside for these instances. Talk to us today about setting up an emergency fund for your unexpected expenses.</p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>