<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Unexpected Events</h2>
   <p>&nbsp;</p>  
   <%= image_tag "banner_unexpected.jpg", :alt=>"", :width=>683, :height=>192 %>
<p class="last">We know that at any time something unexpected can happen. It is always good to have a little extra money sitting aside for just these cases. There is nothing worse than an unexpected expense that puts us behind on our other obligations. Letting your current obligations become late can damage your credit. Having an emergency fund is an excellent way to avoid this. Take any amount you feel comfortable with and set it aside each pay check into an emergency fund here at One Vision. We can make it easy with our automatic transfer. It is always better to be prepared for the unexpected. Keeping disciplined in saving and not touching this account is extremely important. Talk to one of our member service representatives about getting an emergency fund started today.</p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
