<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>College Life</h2>
   <p>&nbsp;</p>  
   <%= image_tag "banner_college.jpg", :alt=>"", :width=>683, :height=>192 %>
   <p>Even before the day you graduate high school, planning for college life is extremely important. How will you pay for school? What school will you attend? Will you be moving out or still living at home? How will you manage your time? These are just a few questions that need to be answered when you reach the college age.</p>
   <p><span class="bold">Paying for School</span><br />
This is probably the most stressful part of becoming a college student. You now have to figure out where you are going to get the money to pay for school. Scholarships are a great place to start. It is smart to apply for as many scholarships as possible. Yes we know it is time consuming but in the end, it could be well worth that time. Many places only get a few applications for their scholarships increasing your chances. One Vision gives 3 scholarships to members that are high school seniors each year. Be sure to apply when the time comes.</p>
<p>Another option for payment is student loans. Be sure to know the difference between subsidized loans and unsubsidized loans. The subsidized loans do not begin to accrue interest until after you are finished with school and start paying back the loans, while unsubsidized loans begin accruing interest right away. Be sure to research your options for student loans in order to make the best possible decision. And our Debit Mastercard will add to your convenience. Also look for a Shared Branch location near your school. With our nationwide ATM Network, Alliance One, and the Shared Branch Network, you can remain a member of One Vision from anywhere in the country.</p>
<p>Also be sure to fill out your FAFSA form each year. This is a government form that determines if you will receive any Federal Financial Aid through grants or government loans. This aid is determined by your financial need. The deadlines vary by state so be sure to visit <%= link_to "www.fafsa.ed.gov", "http://www.fafsa.ed.gov", :rel=>"confirm external" %> for details.</p>
<p><span class="bold">What School to Attend</span><br />
Deciding which school to attend is a huge decision. Many make the decision based on whether they want to leave home or stay close. Others base this decision on what they plan to study while they are in school. Be sure you are comfortable with your decision. Visit all of the campuses that you are considering attending and see which one feels right. You want your college campus to be somewhere that feels like home because you will be spending much time there.</p>
<p class="last"><span class="bold">Living Expenses</span><br />
Many college students have to get jobs to cover living expenses as well as paying for school. Be sure to consider this when you are scheduling classes around your work schedule. Many employers work with their student employees on scheduling as class schedules change semester to semester. Managing your living expenses can be difficult but it is important to have a budget in order to keep yourself on solid financial ground upon graduation. One Vision has all of the products you need to help you manage your finances. We have FREE checking accounts with online banking and bill pay to help you manage your accounts 24 hours a day 7 days a week.</p>
    </div>
    <div id="inner_right">
		<%= render :partial =>"layouts/quickrates" %>
    </div>
</div>
