<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Having a Baby</h2>
   <p>&nbsp;</p>  
   <%= image_tag "banner_baby.jpg", :alt=>"", :width=>683, :height=>192 %>
<p>With a new baby come new life challenges. Your life will never be the same. No longer are your needs the most important thing in your life. You now have a new bundle of joy that will change your whole outlook on life. At One Vision, we are here to help you start your new miracle on a path to a solid financial future. </p>
<p class="last">Come on by and get your new baby a Prime Share savings account. Better yet, open up a Vision Starter Certificate. These special youth accounts allow additions to be made to a share certificate of either 12 or 24 months and they earn a higher rate of interest than our regular share savings accounts. This product is perfect to start your child on the right financial path.</p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>