<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Buying a House</h2>
   <p>&nbsp;</p>  
   <%= image_tag "banner_house.jpg", :alt=>"", :width=>683, :height=>192 %>

<p>Buying a home is one of the biggest life decisions you will make. This is one of the best ways to invest in your future. Why pay rent when you can purchase and own a home and basically pay yourself. One Vision Federal Credit Union wants to make this an easy process for you and give you everything you need to know to make the best and easiest decision. The following bits of information will help you gain knowledge of this process.</p>
<p><span class="bold">Pre-Approval</span> - When you are considering buying a home, the first step is to get pre-approved. A pre-approval will let you know how much home you are able to afford and how much you will be able to borrow.</p>
<p><span class="bold">Loan Application</span> - When you have found your perfect home and made and gotten an accepted offer, it is now time to apply for a mortgage. The mortgage application will go more in depth into your credit history, income, and ability to pay than the pre-approval. It is important to be prepared for your mortgage application appointment. You will need to bring the following documentation to your appointment.</p>
	<ul>
    	<li class="bold">The complete signed purchase contract</li>
        <li class="bold">Proof of income</li>
        <li class="bold">Statements for all checking, savings, and deposit accounts</li>
        <li class="bold">Income tax returns</li>
        <li class="bold">W-2's</li>
    </ul>

<p>More documentation may be needed so be sure to ask before your appointment. It is also a good idea to check your credit report once a year. You are entitled to one free credit report per year so take advantage of this benefit by visiting <%= link_to "www.annualcreditreport.com", "http://www.annualcreditreport.com", :rel=>"confirm external" %>.</p>
<p><span class="bold">Appraisal</span> - An appraisal of the home being purchased is done to help establish a home’s value. Lenders require an appraisal when you apply for your mortgage to ensure that the property will sell for at least the amount of money being lent.</p>
<p><span class="bold">Down Payment</span> - A down payment is the amount of money that you will pay out-of-pocket up front to reduce the amount of the loan. The higher the down payment, the lower the loan amount and the lower the monthly payments. The general rule of thumb for a down payment is 20% of the purchase price of the home. If your down payment is less than 20%, lenders will require you to pay Private Mortgage Insurance (PMI). PMI protects the lender if you default on the loan. This payment is included in your mortgage payment.</p>
<p><span class="bold">Escrow</span> - An escrow account can be set up to hold funds to pay your homeowner’s insurance and property taxes. If you have these escrowed, the lender can take care of paying these to save you the hassle. Ask about a One Vision FCU Escrow Account.</p>
<p><span class="bold">Closing Costs</span> - Closing costs are the fees assessed when you close a real estate transaction. These fees are generally 3-5% of the purchase price of the home. These fees include loan origination fee, discount points, appraisal fee, title search, title insurance, survey, taxes, deed recording fee, credit report charge, insurance premiums, and other fees assessed at closing. It is important to consider these additional costs when purchasing a home. These costs can also be negotiated in the buying process by asking the seller of the property to cover all or part of the costs.</p>
<p class="bold">Are you ready to buy?</p>
<p class="last">If you are ready to make the purchase, stop by One Vision Federal Credit Union to get pre-approved today. Let us make purchasing your dream home as enjoyable as possible.</p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
