<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Retirement</h2>
   <p>&nbsp;</p>  
   <%= image_tag "banner_retire.jpg", :alt=>"", :width=>683, :height=>192 %>
<p>Everyone wants to be able to retire some day. Being financially secure in your retirement is paramount to a comfortable and worthwhile retirement. How are you going to set yourself up on solid financial ground for retirement? It takes discipline, determination, sacrifice, and a solid plan. There are many different financial tools available for retirement accounts. Choosing a good mix and diversifying will ensure that your money can make it through the ups and downs of the market. Talking to a financial planner is a great way to get started.</p>
<p>The many accounts out there include 401k, Mutual Funds, Stocks, Bonds, Annuities, and IRAs. These are just a few of your options. Speaking with a trained financial professional, you will learn the ins and outs of each of these products. </p>
<p>A good way to get started is to open an IRA with One Vision Federal Credit Union. Your funds are insured up to $250,000 by the NCUA so it is a safe investment tool. We can also place your IRA funds into an IRA Certificate to earn a higher rate of return. Ask for more details today! </p>
<p class="last">Plan Now - Play Later!</p>
</div>
    
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>