<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Locations and Office Hours</h2>
    <p class="heading"><a name="clarksville"></a>Clarksville</p>
    <div class="fright"><%= image_tag "locations_lewisclark.jpg", :alt=>"" %></div>
    <p class="bold">Main Office</p>
    <p>206 W. Lewis and Clark Parkway<br />
Clarksville, Indiana  47129<br />
Phone: (812) 945-4600<br />
Fax: (812) 945-4329<br />
onevisionfcu@onevisionfcu.org</p>

<p>Monday – Thursday:  9:00 am – 5:00 pm<br />
Friday:  9:00 am – 6:00 pm<br />
Saturday:  9:00 am – 12:00 pm  (Drive-Thru Only)</p>

<p class="last">Our beautiful Main Office location is conveniently located on Lewis and Clark Parkway in Clarksville between Brown Station Way and Eastern Boulevard. Built in 2007, this wonderful building boasts a large welcoming lobby, multiple offices to discuss your finances with our staff privately, a comfortable waiting area, three drive-thru lanes, a 24-hour ATM, and a state of the art Community Room that is available for rent by anyone in the community.</p>


    <p class="heading"><a name="albany"></a>New Albany</p>
    <div class="fright"><%= image_tag "locations_state.jpg", :alt=>"" %></div>
    <p class="bold">New Albany Branch</p>
    <p>2441 State Street, Suite A<br />
New Albany, Indiana  47150<br />
Phone: (812) 948-7998<br />
Fax: (812) 948-6649</p>

<p>Monday – Thursday:  9:00 am – 5:00 pm<br />
Friday:  9:00 am – 6:00 pm<br />
Saturday:  9:00 am – 12:00 pm</p>

<p>Our New Albany Branch opened on January 29, 2003 as our first branch office on State Street right off Interstate 265. This location is extremely convenient for our Floyd and Harrison County members. This location features private offices to discuss your finances with our staff, two drive thru lanes, exceptional staff, and a 24-hour ATM. </p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
