<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Share Draft (Checking) Products</h2>
    <%= image_tag "checking.jpg", :class=>"photo3 fright", :alt=>""  %>
   <p class="last">At One Vision Federal Credit Union, we strive to make our financial services affordable for all people. We strongly believe that everyone should enjoy the best possible financial services. That is what our Checking Product is designed to accomplish.</p>
   <p class="heading"><a name="free"></a>FREE Share Draft Account (Checking)</p>
   <p>Our Share Draft Account is designed with our members in mind. This account has NO MONTHLY SERVICE FEE and NO MINIMUM BALANCE. The Share Draft Account gives you on demand access to your funds. Qualified members can receive our DEBIT MASTERCARD&reg; to use at ATM machines and to make purchases.  We also offer overdraft protection with a low fee per item cleared. Whether you stop by our lobby or drive-thru to make deposits or if you have taken advantage of direct deposit, our Share Draft Account will make shopping and paying your bills easier and more convenient. </p>
   <p>You can also take advantage of ONlinE Vision and phONE Vision to access your accounts 24 hours a day, 7 days a week. E-Pay with Vision is a wonderful service to help organize and pay your bills. These services are free to you just for being a member of One Vision Federal Credit Union.</p>
   <p>Also ask about our other convenient services, including our nationwide surcharge free ATM network and the Shared Branching Network. Be sure to take advantage of Direct Deposit of your payroll, social security, or other forms of income to make your financial life much easier.</p>
   <p>If you are afraid to switch your checking account to One Vision Federal Credit Union, fear no more. We can and will make the transition easy for you. Just stop in today and talk to one of our Member Service Representatives about how easy and convenient making One Vision Federal Credit Union your primary financial institution can be.</p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
