<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>VISA Credit Cards</h2>
    <%= image_tag "visa.jpg", :alt=>"", :class=>"fleft", :style=>"margin-top: 15px;" %>
   <p>Are you tired of paying an outrageous interest rate on your credit card? Are you tired of all the fees your card provider imposes on your account? Feel locked into your high rate, high fee Credit Card? If you answer &quot;Yes&quot; to any of these questions, it is time to get a VISA Credit Card from One Vision Federal Credit Union.</p>
   
   <p>We have excellent non-adjustable rates as low as 8.9% APR*, no annual fee, and FREE balance transfers. With the free balance transfer, we can pay off your current high rate credit card and transfer that balance to our One Vision VISA Credit Card with our great low rate. This allows you to break the lock of your high rate, high fee credit card. It is time to make a statement to your credit card company that you are not going to take it anymore. Open a One Vision FCU VISA Credit Card today and start saving yourself money! One Vision Federal Credit Union is where you belong!</p>
<p class="disclaimer">*Annual Percentage Rate. Subject to Credit Approval.</p>
<p><%= link_to "VISA CREDIT CARD AGREEMENT", "pdf/VISA Classic Disclosure_August  2008.pdf", :class=>"pdf", :rel=>"external" %></p>
  </div>
    
    <div id="inner_right">
		<%= render :partial => 'layouts/quickrates' %>
    </div>
</div>
