<p style="color: green", align=center><%= flash[:notice] %></p>
<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
		<p class="bold">
		Thank you!</p> <p>Your Request has been submitted. Information will be mailed to the address you have provided.
		</p>
	</div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>