<p style="color: green", align=center><%= flash[:notice] %></p>
<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
		<p>Thank you! Your Loan Application has been received and you will be contacted shortly.</p>
	</div>
	<div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>